{% load static %}

<!DOCTYPE html>
<html lang="zxx" dir="ltr">

<head>
    <!-- Standard Meta -->
    <meta charset="utf-8">
    <meta name="description" content="Premium HTML5 Template by Indonez">
    <meta name="keywords" content="blockit, uikit3, indonez, handlebars, scss, javascript">
    <meta name="author" content="Indonez">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="#FCB42D" />
    <!-- Site Properties -->
    <title>PreshForex Academy - About</title>
    <!-- critical preload -->
    <link rel="preload" href="{% static 'js/vendors/uikit.min.js' %}" as="script">
    <link rel="preload" href="{% static 'css/vendors/uikit.min.css' %}" as="style">
    <link rel="preload" href="{% static 'css/style.css' %}" as="style">
    <!-- icon preload -->
    <link rel="preload" href="{% static 'fonts/fa-brands-400.woff2' %}" as="font" type="font/woff2" crossorigin>
    <link rel="preload" href="{% static 'fonts/fa-solid-900.woff2' %}" as="font" type="font/woff2" crossorigin>
    <!-- font preload -->
    <link rel="preload" href="{% static 'fonts/archivo-v9-latin-regular.woff2' %}" as="font" type="font/woff2" crossorigin>
    <link rel="preload" href="{% static 'fonts/archivo-v9-latin-300.woff2' %}" as="font" type="font/woff2" crossorigin>
    <link rel="preload" href="{% static 'fonts/archivo-v9-latin-700.woff2' %}" as="font" type="font/woff2" crossorigin>
    <!-- Favicon and apple icon -->
    <link rel="shortcut icon" href="{% static 'img/logo.jpeg' %}" type="image/x-icon">
    <link rel="apple-touch-icon-precomposed" href="{% static 'img/logo.jpeg' %}">
    <!-- css -->
    <link rel="stylesheet" href="{% static 'css/vendors/uikit.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/editingstyle.css' %}">

    <style>
        .social-link {
            font-size: 12px;
            font-weight: 700;
            color: #fff;
            border-radius: 10px;
            padding: 8px 10px;
        }

        .social-link:hover {
            color: #fff;
            text-decoration: none;
        }

        .fab-icon {
            font-size: 15px;
            color: #fff;
            margin-right: 8px;
            position: relative;
            top: 1px;
        }
    
        @media screen and (max-width: 500px) {
            #mobileshow { 
                margin-top:50px; 
            }
        }
    </style>

    <meta
   name="”keywords”"
   content="PreshForex Academy,"
   Forex,
   forex academy,
   best forex academy in Nigera,
   best female trader in Nigeria,
   forex trading,
   synthetic indices,
   vix75,
   boom and crash,
   synthetic indices trading,
   synthetic indices trading academy,
   forex queen,
   habby forex academy,
   kojo forex academy,
   preshbae forex,
   female forex traders, 
   best female forex trader,
   female trader in nigeria,
   bukhari forex academy,
   nasdaq forex academy,
   benjamin forex academy,
   uche paragon forex academy in lagos,
   forex academy abuja,
   persian forex academy,
   forex factory,
   my forex funds,
   alpari forex”
/>
</head>

<body>
    <!-- preloader begin -->
    {% comment %} <div class="in-loader">
        <div style="background-color: #46c4ed;"></div>
        <div style="background-color: #46c4ed;"></div>
        <div style="background-color: #46c4ed;"></div>
    </div> {% endcomment %}
    <!-- preloader end -->
    <header>
        <!-- header content begin -->
        <div class="uk-section uk-padding-remove-vertical">
            <nav class="uk-navbar-container" data-uk-sticky="show-on-up: true; animation: uk-animation-slide-top;">
                <div class="uk-container" data-uk-navbar>
                    <div class="uk-navbar-left">
                        <div class="uk-navbar-item">
                            <!-- logo begin -->
                            <a class="uk-logo" href="{% url 'home:home_view' %}">
                                <img src="{% static 'img/logo-removebg-preview.png' %}" data-src="{% static 'img/logo-removebg-preview.png' %}" alt="logo" width="110" height="50" data-uk-img>
                            </a>
                            <!-- logo end -->
                            <!-- navigation begin -->
                            <ul class="uk-navbar-nav uk-visible@m">
                                <li><a href="{% url 'home:home_view' %}">Home</a></li>
                                <li><a href="{% url 'home:about_view' %}">About</a></li>
                                <li><a href="{% url 'home:contact_view' %}">Contact Us</a></li>
                            </ul>
                            <!-- navigation end -->
                        </div>
                    </div>
                    {% comment %} <div class="uk-navbar-right">
                        <div class="uk-navbar-item uk-visible@m in-optional-nav">
                            {% if user.is_authenticated %}
                                <a href="{% url 'accounts:logout_view' %}" class="uk-button uk-button-primary uk-border-rounded" style="background-color: red; color: white;">Logout<i class="fas fa-arrow-circle-right uk-margin-small-left"></i></a>
                            {% else %}
                                <a href="{% url 'accounts:signin_view' %}" class="uk-button uk-button-text">Log in<i class="fas fa-arrow-circle-right uk-margin-small-left"></i></a>
                                <a href="{% url 'accounts:register_view' %}" class="uk-button uk-button-primary uk-border-rounded custom-button">Sign up<i class="fas fa-arrow-circle-right uk-margin-small-left"></i></a>
                            {% endif %}
                        </div>
                    </div> {% endcomment %}
                </div>
            </nav>
        </div>
        <!-- header content end -->
    </header>
    <!-- breadcrumb content begin -->
    <div class="uk-section uk-padding-remove-vertical in-equity-breadcrumb" style="background-color:green;">
        <div class="uk-container">
            <div class="uk-grid">
                <div class="uk-width-1-1">
                    <div style="padding-top: 13px; padding-bottom: 16px; color:white;">
                        <span style="margin-right: 3px; color:white;">Home</span> / <span style="color: white; margin-left: 3px;">About</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- breadcrumb content end -->
    <main>
        <!-- section content begin -->
        <div class="uk-section">
            <div class="uk-container">
                <div class="uk-grid">
                    <div class="uk-width-1-1 uk-flex uk-flex-center">
                        <div class="uk-width-3-5@m uk-text-center">
                            <h1 class="uk-margin-remove">Unlock Your Big Shot trading potentials with <span style="border-bottom: 3px solid green;">Preshforex Academy</span></h1>
                            <p class="uk-text-lead uk-text-muted uk-margin-small-top">Preshforex academy is a forex made easy academy that trade, educate and mentor beginners ,intermediate to become professional traders.</p>
                        </div>
                    </div>
                    <div class="uk-grid uk-grid-large uk-child-width-1-3@m uk-margin-medium-top" data-uk-grid>
                        <div class="uk-flex uk-flex-left">
                            <div class="uk-margin-right">
                                <i class="fas fa-leaf fa-lg in-icon-wrap" style="background-color:green; color:white;"></i>
                            </div>
                            <div>
                                <h3>Vision</h3>
                                <p>Promote Financial literacy and equip traders with the needed tool to scale in Forex trading.</p>
                            </div>
                        </div>
                        <div class="uk-flex uk-flex-left">
                            <div class="uk-margin-right">
                                <i class="fas fa-hourglass-end fa-lg in-icon-wrap" style="background-color:green; color:white;"></i>
                            </div>
                            <div>
                                <h3>Mission</h3>
                                <p>We are committed to providing our students with the best trading experience possible and we remain at the cutting edge of the industry.</p>
                            </div>
                        </div>
                        <div class="uk-flex uk-flex-left">
                            <div class="uk-margin-right">
                                <i class="fas fa-flag fa-lg in-icon-wrap" style="background-color:green; color:white;"></i>
                            </div>
                            <div>
                                <h3>Culture</h3>
                                <p>Encouraging traders and students with potential with needed tools, gifts and matches to become pros and achieve their financial goals.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- section content end -->
        <!-- section content begin -->
        <div class="uk-section in-equity-16">
            <div class="uk-container uk-margin-top uk-margin-large-bottom">
                <div class="uk-grid uk-flex uk-flex-center in-offset-bottom-20">
                    <div class="uk-width-5-6@m uk-text-center">
                        <h1 class="uk-margin-remove"><span style="border-bottom: 3px solid green;">Meet</span> Precious</h1>
                        <div class="uk-grid-medium uk-child-width-1-4@m uk-child-width-1-2@s uk-margin-large-top uk-margin-medium-bottom" data-uk-grid>
                        </div>
                    </div>
                </div>
                <div class="uk-grid uk-grid-large uk-flex uk-flex-middle" data-uk-grid>
                    <div class="uk-width-3-5@m">
                        <div class="in-equity-video">
                            <img class="uk-border-rounded uk-width-1-1" src="{% static 'img/CEO.jpg' %}" data-src="{% static 'img/CEO.jpg' %}" alt="CEO-image" width="533" height="355" data-uk-img>
                        </div>
                    </div>
                    <div class="uk-width-expand@m">
                        <p>Precious Paul popularly known as Preshbae is the richest female trader in Nigeria, she is the CEO of PreshForex Academy. 
                            With over 5 years of experience trading the Foreign Exchange Market. 
                        </p>
                        <p>
                            She started PreshForex Academy as a means of helping African youths gain financial freedom legally.  
                        </p>
                        
                        <a style="background-color: green; color:white;" class="uk-button uk-button-secondary uk-border-rounded uk-margin-small-top" href="wa.me/2349023899368">CONTACT</a>
                    </div>
                </div>
            </div>
        </div>
        <!-- section content end -->
        <!-- section content begin -->
        <div class="uk-section in-counter-2">
            <div class="uk-container">
                <div class="uk-grid uk-flex uk-flex-center">
                    <div class="uk-width-3-4@m">
                        <div class="uk-grid uk-flex uk-flex-middle" data-uk-grid>
                            <div class="uk-width-1-2@m">
                                <h4 class="uk-text-muted">Number speaks</h4>
                                <h1 class="uk-margin-medium-bottom">We always ready<br>for a challenge.</h1>
                                <a href="#" class="uk-button uk-button-primary uk-border-rounded" style="background-color:green; color:white;">Signup Now!<i class="fas fa-arrow-circle-right uk-margin-small-left"></i></a>
                            </div>
                            <div class="uk-width-1-2@m">
                                <div class="uk-margin-large" data-uk-grid>
                                    <div class="uk-width-1-3@m">
                                        <h1 class="uk-text-primary uk-text-right@m">
                                            <span class="count" data-counter-end="1500" style="color: green;">0</span>+
                                        </h1>
                                        <hr class="uk-divider-small uk-text-right@m">
                                    </div>
                                    <div class="uk-width-expand@m">
                                        <h3>Students registered</h3>
                                        <p>Track record of training and equipping students through mentorship and placements.</p>
                                    </div>
                                </div>
                                <div class="uk-margin-large" data-uk-grid>
                                    <div class="uk-width-1-3@m">
                                        <h1 class="uk-text-primary uk-text-right@m">
                                            <span class="count" data-counter-end="4000" style="color: green;">0</span>+
                                        </h1>
                                        <hr class="uk-divider-small uk-text-right@m">
                                    </div>
                                    <div class="uk-width-expand@m">
                                        <h3>Assests</h3>
                                        <p>Signals cover varying asset classes with tighter spreads and analysis to maximise profit.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- section content end -->
    </main>
    <footer>
        <!-- footer content begin -->
        <div class="uk-section">
            <div class="uk-container">
                <div class="uk-grid uk-flex uk-flex-middle">

                    <div class="uk-width-2-3@m uk-text-small">
                        <ul class="uk-subnav uk-subnav-divider" data-uk-margin>
                            <li><a href="{% url 'home:legal_view' %}">Legal Documentations</a></li>
                            <li><a href="{% url 'home:faqs_view' %}">FAQs</a></li>
                            <li><a href="{% url 'home:about_view' %}">About</a></li>
                            <li><a href="{% url 'home:contact_view' %}">Contact</a></li>
                        </ul>
                    </div>

                    <div id="mobileshow">
                        <a target="_blank" href="#" class="social-link" style="background-color: #d64742; margin: 5px;"><i class="fab fa-youtube fab-icon"></i>Youtube</a>
                        <a target="_blank" href="#" class="social-link" style="background-color: #075e54; margin: 5px;"><i class="fab fa-whatsapp fab-icon"></i>WhatsApp</a>
                        <a target="_blank" href="#" class="social-link" style="background-color: #DD2A7B; margin: 5px;"><i class="fab fa-instagram fab-icon"></i>Instagram</a>
                    </div>
                </div>

                <p style="text-align: center; margin-top: 50px; font-size: small;">Disclaimer: Trading and/or investing in Leveraged Products comes with a substaintial amount of risk and you may loose part or all of your investments. Be Advised.</p>

                <p class="copyright-text" style="text-align: center; margin-top: 50px;">©2021 pipsgod Markets Incorporated. All Rights Reserved.</p>

                <p class="copyright-text" style="text-align: center; margin-top: 30px;">SiteCredit: <a href="wa.me/2349086022042">Aiby Technologies</a></p>
            </div>
        </div>
        <!-- footer content end -->
        <!-- totop begin -->
        <div class="uk-visible@m">
            <a href="#" class="in-totop fas fa-chevron-up" style="background-color:green;" data-uk-scroll></a>
        </div>
        <!-- totop end -->
    </footer>
    <!-- javascript -->
    <script src="{% static 'js/vendors/uikit.min.js' %}"></script>
    <script src="{% static 'js/vendors/utilities.min.js' %}"></script>
    <!-- <script src="{% static 'js/config-theme.js' %}"></script> -->

    <script>
        'use strict';

        const HomepageApp = {
            //----------- 1. Slideshow -----------
            theme_slideshow: function() {
                UIkit.slideshow('.in-slideshow', {
                    autoplay: true,
                    autoplayInterval: 8000,
                    pauseOnHover: false,
                    animation: 'slide',
                    minHeight: 440,
                    maxHeight: 580
                });
            },
            //---------- 2. Counter -----------
            theme_counter: function() {
                const counter = new counterUp({
                    selector: '.count',
                    start: 0,
                    duration: 3200,
                    intvalues: true,
                    interval: 50
                });
                counter.start();
            },
            //---------- 3. Mobile nav button -----------
            theme_mobilenav: function() {
                {% comment %} // mobileNav({
                //     addonButtons: true,
                //     buttons: [{
                //         {% if user.is_authenticated %}
                //             name: 'Log out', // button name
                //             url: "{% url 'accounts:logout_view' %}", // button url
                //             type: 'secondary', // button type (default, primary, secondary, danger, text)
                //             icon: 'sign-out-alt' // button icon, you can use all icons from here : https://fontawesome.com/icons?d=gallery&s=solid&m=free
                //         {% else %}
                //             name: 'Log in', // button name
                //             url: "{% url 'accounts:signin_view' %}", // button url
                //             type: 'secondary', // button type (default, primary, secondary, danger, text)
                //             icon: 'sign-in-alt' // button icon, you can use all icons from here : https://fontawesome.com/icons?d=gallery&s=solid&m=free
                //         {% endif %}
                //     }]
                // }); {% endcomment %}
            },
            //---------- 4. Modal iframe -----------
            theme_video: function() {
                modalIframe({
                    videos: [{
                        id: 'video-1', // video id (should not be the same as the next video)
                        url: 'https://www.youtube.com/embed/F3QpgXBtDeo' // video embed url
                    }]
                });
            },
            //---------- 5. Tradingview widget -----------
            theme_tradingview: function() {
                if (window.tradingWidget)
                    tradingWidget({
                        widget: [{
                                type: "market-overview",
                                theme: "light",
                                symbol: [ // array of instruments symbol based on Tradingview
                                    {
                                        s: "FX:EURUSD"
                                    },
                                    {
                                        s: "FX:GBPUSD"
                                    },
                                    {
                                        s: "FX:USDJPY"
                                    },
                                    {
                                        s: "FX:USDCHF"
                                    },
                                    {
                                        s: "FX:AUDUSD"
                                    },
                                    {
                                        s: "FX:USDCAD"
                                    }
                                ]
                            },
                            {
                                type: "symbol-overview",
                                theme: "dark",
                                symbol: "GOOGL" // symbol based on Tradingview
                            }
                        ]
                    });
            },
            theme_init: function() {
                HomepageApp.theme_slideshow();
                HomepageApp.theme_counter();
                HomepageApp.theme_mobilenav();
                HomepageApp.theme_video();
                HomepageApp.theme_tradingview();
            }
        }

        document.addEventListener('DOMContentLoaded', function() {
            HomepageApp.theme_init();
        });
    </script>
</body>

</html>