{% load static %}
<!DOCTYPE html>
<html lang="zxx" dir="ltr">

<head>
    <!-- Standard Meta -->
    <meta charset="utf-8">
    <meta name="description" content="Presh Forex Academy">
    <meta name="keywords" content="blockit, uikit3, indonez, handlebars, scss, javascript">
    <meta name="author" content="Indonez">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="#FCB42D" />

    <!-- SEO -->
   <meta
   name="”keywords”"
   content="PreshForex Academy,"
   Forex,
   forex academy,
   best forex academy in Nigera,
   best female trader in Nigeria,
   forex trading,
   synthetic indices,
   vix75,
   boom and crash,
   synthetic indices trading,
   synthetic indices trading academy,
   forex queen,
   habby forex academy,
   kojo forex academy,
   preshbae forex,
   female forex traders, 
   best female forex trader,
   female trader in nigeria,
   bukhari forex academy,
   nasdaq forex academy,
   benjamin forex academy,
   uche paragon forex academy in lagos,
   forex academy abuja,
   persian forex academy,
   forex factory,
   my forex funds,
   alpari forex”
/>
    <!-- Site Properties -->
    <title>PreshForex Academy - Contact</title>
    <!-- critical preload -->
    <link rel="preload" href="{% static 'js/vendors/uikit.min.js' %}" as="script">
    <link rel="preload" href="{% static 'css/vendors/uikit.min.css' %}" as="style">
    <link rel="preload" href="{% static 'css/style.css' %}" as="style">
    <!-- icon preload -->
    <link rel="preload" href="{% static 'fonts/fa-brands-400.woff2' %}" as="font" type="font/woff2" crossorigin>
    <link rel="preload" href="{% static 'fonts/fa-solid-900.woff2' %}" as="font" type="font/woff2" crossorigin>
    <!-- font preload -->
    <link rel="preload" href="{% static 'fonts/archivo-v9-latin-regular.woff2' %}" as="font" type="font/woff2" crossorigin>
    <link rel="preload" href="{% static 'fonts/archivo-v9-latin-300.woff2' %}" as="font" type="font/woff2" crossorigin>
    <link rel="preload" href="{% static 'fonts/archivo-v9-latin-700.woff2' %}" as="font" type="font/woff2" crossorigin>
    <!-- Favicon and apple icon -->
    <link rel="shortcut icon" href="{% static 'img/logo.jpeg' %}" type="img/logo">
    <link rel="apple-touch-icon-precomposed" href="{% static 'img/logo.jpeg' %}">
    <!-- css -->
    <link rel="stylesheet" href="{% static 'css/vendors/uikit.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>

<body>
    <!-- preloader begin -->
    <div class="in-loader">
        <div></div>
        <div></div>
        <div></div>
    </div>
    <!-- preloader end -->
    <header>
        <!-- header content begin -->
        <div class="uk-section uk-padding-remove-vertical">
            <nav class="uk-navbar-container" data-uk-sticky="show-on-up: true; animation: uk-animation-slide-top;">
                <div class="uk-container" data-uk-navbar>
                    <div class="uk-navbar-left">
                        <div class="uk-navbar-item">
                            <!-- logo begin -->
                            <div class="logo-box-style2">
                                <a href="{% url 'home:home_view' %}">
                                    <img src="{% static 'img/logo-removebg-preview.png' %}" alt="Awesome Logo" title="" width="146" height="39">
                                </a>
                            </div>
                            <!-- logo end -->
                            <!-- navigation begin -->
                            <ul class="uk-navbar-nav uk-visible@m">
                                <li><a href="{% url 'home:home_view' %}">Home</a></li>
                                <li><a href="{% url 'home:about_view' %}">About</a></li>
                                <li><a href="{% url 'home:contact_view' %}">Contact</a></li>
                                <!-- <li><a href="customers.html">Reviews</a></li> -->
                            </ul>
                            <!-- navigation end -->
                        </div>
                    </div>
                    <!-- <div class="uk-navbar-right">
                        <div class="uk-navbar-item uk-visible@m in-optional-nav">
                            <a href="signin.html" class="uk-button uk-button-text">Log in<i class="fas fa-arrow-circle-right uk-margin-small-left"></i></a>
                            <a href="#" class="uk-button uk-button-primary uk-border-rounded">Sign up<i class="fas fa-arrow-circle-right uk-margin-small-left"></i></a>
                        </div>
                    </div> -->
                </div>
            </nav>
        </div>
        <!-- header content end -->
    </header>
    <!-- breadcrumb content begin -->
    <!-- <div class="uk-section uk-padding-remove-vertical in-equity-breadcrumb">
        <div class="uk-container">
            <div class="uk-grid">
                <div class="uk-width-1-1">
                    <ul class="uk-breadcrumb"></ul>
                </div>
            </div>
        </div>
    </div> -->
    <!-- breadcrumb content end -->
    <main>
        <!-- section content begin -->
        <div class="uk-section">
            <div class="uk-container uk-margin-small-top uk-margin-bottom">
                <div class="uk-grid uk-flex uk-flex-center in-contact-6">
                    <div class="uk-width-1-1">
                        <iframe class="uk-width-1-1 uk-height-large uk-border-rounded" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3964.620018158653!2d3.4632179143446287!3d6.442813295338768!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x103bf453f3a722c1%3A0x4fa08b11ca8ab767!2s7%20Fola%20Osibo%20Rd%2C%20Lekki%20Phase%20I%20106104%2C%20Lagos!5e0!3m2!1sen!2sng!4v1671355368913!5m2!1sen!2sng" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                        <!-- <iframe class="uk-width-1-1 uk-height-large uk-border-rounded" src="https://www.google.com/maps/embed?pb&#x3D;!1m14!1m8!1m3!1d12607.361112413788!2d144.955928!3d-37.81721!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xb6899234e561db11!2sLagos!5e0!3m2!1sen!2sbd!4v1635163568811!5m2!1sen!2sbd">
                        </iframe> -->
                    </div>
                    <div class="uk-width-3-5@m">
                        <div class="uk-grid uk-child-width-1-3@m uk-margin-medium-top uk-text-center" data-uk-grid>
                            <div>
                                <h5 class="uk-margin-remove-bottom"><i class="fas fa-map-marker-alt fa-sm uk-margin-small-right"></i>Address</h5>
                                <p class="uk-margin-small-top">7 fola Osibo, Lekki Lagos, Nigeria.</p>
                            </div>
                            <div>
                                <h5 class="uk-margin-remove-bottom"><i class="fas fa-envelope fa-sm uk-margin-small-right"></i>Email</h5>
                                <p class="uk-margin-small-top uk-margin-remove-bottom">admin@preshforexacademy.com</p>
                                <p class="uk-margin-small-top uk-margin-remove-bottom">preshtradingacademy@gmail.com</p>
                            </div>
                            <div>
                                <h5 class="uk-margin-remove-bottom"><i class="fas fa-phone-alt fa-sm uk-margin-small-right"></i>Call/Whatsapp</h5>
                                <p class="uk-margin-small-top uk-margin-remove-bottom">+234 902 389 9368</p>
                                <p class="uk-text-small uk-text-muted uk-text-uppercase">Sun - Mon,<br> Open 24 hours</p>
                            </div>
                        </div>
                        <hr class="uk-margin-medium">
                        <p class="uk-margin-remove-bottom uk-text-lead uk-text-muted uk-text-center">Have a questions?</p>
                        <h1 class="uk-margin-small-top uk-text-center">Let's <span style="border-bottom: 3px solid #0a2cc4;">get in touch</span></h1>
                        <form id="contact-form" class="uk-form uk-grid-small uk-margin-medium-top" data-uk-grid>
                            <div class="uk-width-1-2@s uk-inline">
                                <span class="uk-form-icon fas fa-user fa-sm"></span>
                                <input class="uk-input uk-border-rounded" id="name" name="name" type="text" placeholder="Full name">
                            </div>
                            <div class="uk-width-1-2@s uk-inline">
                                <span class="uk-form-icon fas fa-envelope fa-sm"></span>
                                <input class="uk-input uk-border-rounded" id="email" name="email" type="email" placeholder="Email address">
                            </div>
                            <div class="uk-width-1-1 uk-inline">
                                <span class="uk-form-icon fas fa-pen fa-sm"></span>
                                <input class="uk-input uk-border-rounded" id="subject" name="subject" type="text" placeholder="Subject">
                            </div>
                            <div class="uk-width-1-1">
                                <textarea class="uk-textarea uk-border-rounded" id="message" name="message" rows="6" placeholder="Message"></textarea>
                            </div>
                            <div class="uk-width-1-1">
                                <button style="background-color: #0a2cc4; color: aliceblue;" class="uk-width-1-1 uk-button uk-button-primary uk-border-rounded" id="sendemail" type="submit" name="submit">Send Message</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <!-- section content end -->
    </main>
    <footer>
        <!-- footer content begin -->
        <!-- <div class="uk-section">
            <div class="uk-container uk-margin-top">
                <div class="uk-grid">
                    <div class="uk-width-2-3@m">
                        <div class="uk-child-width-1-2@s uk-child-width-1-3@m" data-uk-grid>
                            <div>
                                <h5>Instruments</h5>
                                <ul class="uk-list uk-link-text">
                                    <li><a href="#">Stock</a></li>
                                    <li><a href="#">Indexes</a></li>
                                    <li><a href="#">Currencies</a></li>
                                    <li><a href="#">Metals<span class="uk-label uk-margin-small-left in-label-small">Popular</span></a></li>
                                    <li><a href="#">Oil and gas</a></li>
                                    <li><a href="#">Cryptocurrencies<span class="uk-label uk-margin-small-left in-label-small">Popular</span></a></li>
                                </ul>
                            </div>
                            <div>
                                <h5>Analytics</h5>
                                <ul class="uk-list uk-link-text">
                                    <li><a href="#">World Markets</a></li>
                                    <li><a href="#">Trading Central<span class="uk-label uk-margin-small-left in-label-small">New</span></a></li>
                                    <li><a href="#">Forex charts online</a></li>
                                    <li><a href="#">Market calendar</a></li>
                                    <li><a href="#">Central banks<span class="uk-label uk-margin-small-left in-label-small">New</span></a></li>
                                </ul>
                            </div>
                            <div class="in-margin-top-60@s">
                                <h5>Education</h5>
                                <ul class="uk-list uk-link-text">
                                    <li><a href="#">Basic course</a></li>
                                    <li><a href="#">Introductory webinar</a></li>
                                    <li><a href="#">About academy</a></li>
                                </ul>
                            </div>
                        </div>
                    </div> -->
                    <!-- <div class="uk-width-1-3@m uk-flex uk-flex-right@m">
                        <ul class="uk-list uk-link-text in-footer-socials">
                            <li><a href="#some-link" class="fb-bg"><i class="fab fa-facebook-square"></i>Facebook</a></li>
                            <li><a href="#some-link" class="tw-bg"><i class="fab fa-twitter"></i>Twitter</a></li>
                            <li><a href="#some-link" class="yt-bg"><i class="fab fa-youtube"></i>Youtube</a></li>
                            <li><a href="#some-link" class="ig-bg"><i class="fab fa-instagram"></i>Instagram</a></li>
                            <li><a href="#some-link" class="tl-bg"><i class="fab fa-telegram-plane"></i>Telegram</a></li>
                        </ul>
                    </div> -->
                </div>
            </div>
            <hr class="uk-margin-large">
            <div class="uk-container">
                <div class="uk-grid uk-flex uk-flex-middle">
                    <div class="uk-width-2-3@m uk-text-small">
                        <ul class="uk-subnav uk-subnav-divider uk-visible@s" data-uk-margin>
                            <li><a href="#">Disclaimer: Trading and/or investing in Leveraged Products comes with a substaintial amount of risk and you may loose part or all of your investments. Be Advised.</a></li>
                        </ul>
                        <p class="copyright-text">©2022 PreshForex Academy. All Rights Reserved. <a href="#">SiteCredit Aiby Technologies</a></p>
                    </div>
                    <div class="uk-width-1-3@m uk-flex uk-flex-right uk-visible@m">
                        <span class="uk-margin-right"><img src="{% static 'img/in-lazy.gif' %}" data-src="{% static 'img/in-footer-mastercard.svg' %}" alt="footer-payment" width="34" height="21" data-uk-img></span>
                        <span><img src="{% static 'img/in-lazy.gif' %}" data-src="{% static 'img/in-footer-visa.svg' %}" alt="footer-payment" width="50" height="16" data-uk-img></span>
                    </div>
                </div>
            </div>
        </div>
        <!-- footer content end -->
        <!-- totop begin -->
        <div class="uk-visible@m">
            <a style="background-color: #0a2cc4;" href="#" class="in-totop fas fa-chevron-up" data-uk-scroll></a>
        </div>
        <!-- totop end -->
    </footer>
    <!-- javascript -->
    <script src="{% static 'js/vendors/uikit.min.js' %}"></script>
    <script src="{% static 'js/vendors/utilities.min.js' %}"></script>
    <script src="{% static 'js/config-theme.js' %}"></script>
</body>

</html>