{% load static %}

<!DOCTYPE html>
<html lang="zxx" dir="ltr">

<head>
    <!-- Standard Meta -->
    <meta charset="utf-8">
    <meta name="description" content="Premium HTML5 Template by Indonez">
    <meta name="keywords" content="blockit, uikit3, indonez, handlebars, scss, javascript">
    <meta name="author" content="Indonez">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="#FCB42D" />
    <!-- Site Properties -->
    <title>PreshForex Academy - Contact</title>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <!-- critical preload -->
    <link rel="preload" href="{% static 'js/vendors/uikit.min.js' %}" as="script">
    <link rel="preload" href="{% static 'css/vendors/uikit.min.css' %}" as="style">
    <link rel="preload" href="{% static 'css/style.css' %}" as="style">
    <!-- icon preload -->
    <link rel="preload" href="{% static 'fonts/fa-brands-400.woff2' %}" as="font" type="font/woff2" crossorigin>
    <link rel="preload" href="{% static 'fonts/fa-solid-900.woff2' %}" as="font" type="font/woff2" crossorigin>
    <!-- font preload -->
    <link rel="preload" href="{% static 'fonts/archivo-v9-latin-regular.woff2' %}" as="font" type="font/woff2" crossorigin>
    <link rel="preload" href="{% static 'fonts/archivo-v9-latin-300.woff2' %}" as="font" type="font/woff2" crossorigin>
    <link rel="preload" href="{% static 'fonts/archivo-v9-latin-700.woff2' %}" as="font" type="font/woff2" crossorigin>
    <!-- Favicon and apple icon -->
    <link rel="shortcut icon" href="{% static 'img/logo.jpeg' %}" type="image/x-icon">
    <link rel="apple-touch-icon-precomposed" href="{% static 'img/logo.jpeg' %}">
    <!-- css -->
    <link rel="stylesheet" href="{% static 'css/vendors/uikit.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/editingstyle.css' %}">

    <style>
        .social-link {
            font-size: 12px;
            font-weight: 700;
            color: #fff;
            border-radius: 10px;
            padding: 8px 10px;
        }

        .social-link:hover {
            color: #fff;
            text-decoration: none;
        }

        .fab-icon {
            font-size: 15px;
            color: #fff;
            margin-right: 8px;
            position: relative;
            top: 1px;
        }
    
        @media screen and (max-width: 500px) {
            #mobileshow { 
                margin-top:50px; 
            }
        }
    </style>
</head>

<body>
    <!-- preloader begin -->
    {% comment %} <div class="in-loader">
        <div style="background-color: #46c4ed;"></div>
        <div style="background-color: #46c4ed;"></div>
        <div style="background-color: #46c4ed;"></div>
    </div> {% endcomment %}
    <!-- preloader end -->
    <header>
        <!-- header content begin -->
        <div class="uk-section uk-padding-remove-vertical">
            <nav class="uk-navbar-container" data-uk-sticky="show-on-up: true; animation: uk-animation-slide-top;">
                <div class="uk-container" data-uk-navbar>
                    <div class="uk-navbar-left">
                        <div class="uk-navbar-item">
                            <!-- logo begin -->
                            <a class="uk-logo" href="{% url 'home:home_view' %}">
                                <img src="{% static 'img/logo-removebg-preview.png' %}" data-src="{% static 'img/logo-removebg-preview.png' %}" alt="logo" width="110" height="50" data-uk-img>
                            </a>
                            <!-- logo end -->
                            <!-- navigation begin -->
                            <ul class="uk-navbar-nav uk-visible@m">
                                <li><a href="{% url 'home:home_view' %}">Home</a></li>
                                <li><a href="{% url 'home:about_view' %}">About</a></li>
                                <li><a href="{% url 'home:contact_view' %}">Contact Us</a></li>
                            </ul>
                            <!-- navigation end -->
                        </div>
                    </div>
                    {% comment %} <div class="uk-navbar-right">
                        <div class="uk-navbar-item uk-visible@m in-optional-nav">
                            {% if user.is_authenticated %}
                                <a href="{% url 'accounts:logout_view' %}" class="uk-button uk-button-primary uk-border-rounded" style="background-color: red; color: white;">Logout<i class="fas fa-arrow-circle-right uk-margin-small-left"></i></a>
                            {% else %}
                                <a href="{% url 'accounts:signin_view' %}" class="uk-button uk-button-text">Log in<i class="fas fa-arrow-circle-right uk-margin-small-left"></i></a>
                                <a href="{% url 'accounts:register_view' %}" class="uk-button uk-button-primary uk-border-rounded custom-button">Sign up<i class="fas fa-arrow-circle-right uk-margin-small-left"></i></a>
                            {% endif %}
                        </div>
                    </div> {% endcomment %}
                </div>
            </nav>
        </div>
        <!-- header content end -->
    </header>
    <!-- breadcrumb content begin -->
    <div class="uk-section uk-padding-remove-vertical in-equity-breadcrumb" style="background-color:green; color:white;">
        <div class="uk-container">
            <div class="uk-grid">
                <div class="uk-width-1-1">
                    <div style="padding-top: 13px; padding-bottom: 16px;">
                        <span style="margin-right: 3px;">Home</span> / <span style="color: white; margin-left: 3px;">Contact</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- breadcrumb content end -->
    <main>
        <!-- section content begin -->
        <div class="uk-section">
            <div class="uk-container uk-margin-small-top uk-margin-bottom">
                <div class="uk-grid uk-flex uk-flex-center in-contact-6">
                    <div class="uk-width-1-1">
                        <iframe class="uk-width-1-1 uk-height-large uk-border-rounded" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3964.620018158653!2d3.4632179143446287!3d6.442813295338768!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x103bf453f3a722c1%3A0x4fa08b11ca8ab767!2s7%20Fola%20Osibo%20Rd%2C%20Lekki%20Phase%20I%20106104%2C%20Lagos!5e0!3m2!1sen!2sng!4v1671355368913!5m2!1sen!2sng" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                    </div>
                    <div class="uk-width-3-5@m">
                        <div class="uk-grid uk-child-width-1-3@m uk-margin-medium-top uk-text-center" data-uk-grid>
                            <div>
                                <h5 class="uk-margin-remove-bottom"><i class="fas fa-map-marker-alt fa-sm uk-margin-small-right"></i>Address</h5>
                                <p class="uk-margin-small-top">7 fola Osibo, Lekki Lagos, Nigeria.</p>
                            </div>
                            <div>
                                <h5 class="uk-margin-remove-bottom"><i class="fas fa-envelope fa-sm uk-margin-small-right"></i>Email</h5>
                                <p class="uk-margin-small-top uk-margin-remove-bottom">admin@preshforexacademy.com</p>
                                <p class="uk-margin-small-top uk-margin-remove-bottom">preshtradingacademy@gmail.com</p>
                            </div>
                            <div>
                                <h5 class="uk-margin-remove-bottom"><i class="fas fa-phone-alt fa-sm uk-margin-small-right"></i>Call</h5>
                                <p class="uk-margin-small-top uk-margin-remove-bottom">+234 902 389 9368</p>
                                <p class="uk-text-small uk-text-muted uk-text-uppercase">Sun - Mon,<br> Open 24 hours</p>
                            </div>
                        </div>

                        <hr class="uk-margin-medium">
                        <p class="uk-margin-remove-bottom uk-text-lead uk-text-muted uk-text-center">Have a questions?</p>
                        <h1 class="uk-margin-small-top uk-text-center">Let's <span style="border-bottom: 3px solid green;">get in touch</span></h1>
                        {% if messages %}
                            {% for message in messages %}
                                <div class="alert alert-{{ message.tags }}" style="display:block; text-align:center;"><div>{{ message }}</div></div>
                            {% endfor %}
                        {% endif %}
                        <form class="uk-form uk-grid-small uk-margin-medium-top" data-uk-grid method="post">
                            {% csrf_token %}
                            <div class="uk-width-1-2@s uk-inline">
                                <span class="uk-form-icon fas fa-user fa-sm"></span>
                                <input class="uk-input uk-border-rounded" id="name" name="name" type="text" placeholder="Full name" required>
                            </div>
                            <div class="uk-width-1-2@s uk-inline">
                                <span class="uk-form-icon fas fa-envelope fa-sm"></span>
                                <input class="uk-input uk-border-rounded" id="email" name="email" type="email" placeholder="Email address" required>
                            </div>
                            <div class="uk-width-1-1 uk-inline">
                                <span class="uk-form-icon fas fa-pen fa-sm"></span>
                                <input class="uk-input uk-border-rounded" id="subject" name="subject" type="text" placeholder="Subject" required>
                            </div>
                            <div class="uk-width-1-1">
                                <textarea class="uk-textarea uk-border-rounded" id="message" name="message" rows="6" placeholder="Message" required></textarea>
                            </div>
                            <div class="uk-width-1-1">
                                <button class="uk-width-1-1 uk-button uk-button-primary uk-border-rounded" style="background-color:green; color:white;" type="submit" name="submit">Send Message</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <!-- section content end -->
    </main>
    <footer>
        <!-- footer content begin -->
        <div class="uk-section">
            <div class="uk-container">
                <div class="uk-grid uk-flex uk-flex-middle">

                    <div class="uk-width-2-3@m uk-text-small">
                        <ul class="uk-subnav uk-subnav-divider" data-uk-margin>
                            <li><a href="{% url 'home:legal_view' %}">Legal Documentations</a></li>
                            <li><a href="{% url 'home:faqs_view' %}">FAQs</a></li>
                            <li><a href="{% url 'home:about_view' %}">About</a></li>
                            <li><a href="{% url 'home:contact_view' %}">Contact</a></li>
                        </ul>
                    </div>

                    <div id="mobileshow">
                        <a target="_blank" href="#" class="social-link" style="background-color: #d64742; margin: 5px;"><i class="fab fa-youtube fab-icon"></i>Youtube</a>
                        <a target="_blank" href="#" class="social-link" style="background-color: #075e54; margin: 5px;"><i class="fab fa-whatsapp fab-icon"></i>WhatsApp</a>
                        <a target="_blank" href="#" class="social-link" style="background-color: #DD2A7B; margin: 5px;"><i class="fab fa-instagram fab-icon"></i>Instagram</a>
                    </div>
                </div>

                <p style="text-align: center; margin-top: 50px; font-size: small;">Disclaimer: Trading and/or investing in Leveraged Products comes with a substaintial amount of risk and you may loose part or all of your investments. Be Advised.</p>

                <p class="copyright-text" style="text-align: center; margin-top: 50px;">©2021 pipsgod Markets Incorporated. All Rights Reserved.</p>

                <p class="copyright-text" style="text-align: center; margin-top: 30px;">SiteCredit: <a href="wa.me/2349086022042">Aiby Technologies</a></p>
            </div>
        </div>
        <!-- footer content end -->
        <!-- totop begin -->
        <div class="uk-visible@m">
            <a href="#" class="in-totop fas fa-chevron-up" style="background-color:green;" data-uk-scroll></a>
        </div>
        <!-- totop end -->
    </footer>
    <!-- javascript -->
    <script src="{% static 'js/vendors/uikit.min.js' %}"></script>
    <script src="{% static 'js/vendors/utilities.min.js' %}"></script>
    <!-- <script src="{% static 'js/config-theme.js' %}"></script> -->

    <script>
        'use strict';

        const HomepageApp = {
            //----------- 1. Slideshow -----------
            theme_slideshow: function() {
                UIkit.slideshow('.in-slideshow', {
                    autoplay: true,
                    autoplayInterval: 8000,
                    pauseOnHover: false,
                    animation: 'slide',
                    minHeight: 440,
                    maxHeight: 580
                });
            },
            //---------- 2. Counter -----------
            theme_counter: function() {
                const counter = new counterUp({
                    selector: '.count',
                    start: 0,
                    duration: 3200,
                    intvalues: true,
                    interval: 50
                });
                counter.start();
            },
            //---------- 3. Mobile nav button -----------
            theme_mobilenav: function() {
                {% comment %} mobileNav({
                    addonButtons: true,
                    buttons: [{
                        {% if user.is_authenticated %}
                            name: 'Log out', // button name
                            url: "{% url 'accounts:logout_view' %}", // button url
                            type: 'secondary', // button type (default, primary, secondary, danger, text)
                            icon: 'sign-out-alt' // button icon, you can use all icons from here : https://fontawesome.com/icons?d=gallery&s=solid&m=free
                        {% else %}
                            name: 'Log in', // button name
                            url: "{% url 'accounts:signin_view' %}", // button url
                            type: 'secondary', // button type (default, primary, secondary, danger, text)
                            icon: 'sign-in-alt' // button icon, you can use all icons from here : https://fontawesome.com/icons?d=gallery&s=solid&m=free
                        {% endif %}
                    }]
                }); {% endcomment %}
            },
            //---------- 4. Modal iframe -----------
            theme_video: function() {
                modalIframe({
                    videos: [{
                        id: 'video-1', // video id (should not be the same as the next video)
                        url: 'https://www.youtube.com/embed/F3QpgXBtDeo' // video embed url
                    }]
                });
            },
            //---------- 5. Tradingview widget -----------
            theme_tradingview: function() {
                if (window.tradingWidget)
                    tradingWidget({
                        widget: [{
                                type: "market-overview",
                                theme: "light",
                                symbol: [ // array of instruments symbol based on Tradingview
                                    {
                                        s: "FX:EURUSD"
                                    },
                                    {
                                        s: "FX:GBPUSD"
                                    },
                                    {
                                        s: "FX:USDJPY"
                                    },
                                    {
                                        s: "FX:USDCHF"
                                    },
                                    {
                                        s: "FX:AUDUSD"
                                    },
                                    {
                                        s: "FX:USDCAD"
                                    }
                                ]
                            },
                            {
                                type: "symbol-overview",
                                theme: "dark",
                                symbol: "GOOGL" // symbol based on Tradingview
                            }
                        ]
                    });
            },
            theme_init: function() {
                HomepageApp.theme_slideshow();
                HomepageApp.theme_counter();
                HomepageApp.theme_mobilenav();
                HomepageApp.theme_video();
                HomepageApp.theme_tradingview();
            }
        }

        document.addEventListener('DOMContentLoaded', function() {
            HomepageApp.theme_init();
        });
    </script>

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
</body>

</html>