{% load static %}

<!DOCTYPE html>
<html lang="zxx" dir="ltr">

<head>
    <!-- Standard Meta -->
    <meta charset="utf-8">
    <meta name="description" content="Premium HTML5 Template by Indonez">
    <meta name="keywords" content="blockit, uikit3, indonez, handlebars, scss, javascript">
    <meta name="author" content="Indonez">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="#FCB42D" />
    <!-- Site Properties -->
    <title>PreshForex Academy - Home</title>
    
    <!-- critical preload -->
    <link rel="preload" href="{% static 'js/vendors/uikit.min.js' %}" as="script">
    <link rel="preload" href="{% static 'css/vendors/uikit.min.css' %}" as="style">
    <link rel="preload" href="{% static 'css/style.css' %}" as="style">
    <!-- icon preload -->
    <link rel="preload" href="{% static 'fonts/fa-brands-400.woff2' %}" as="font" type="font/woff2" crossorigin>
    <link rel="preload" href="{% static 'fonts/fa-solid-900.woff2' %}" as="font" type="font/woff2" crossorigin>
    <!-- font preload -->
    <link rel="preload" href="{% static 'fonts/archivo-v9-latin-regular.woff2' %}" as="font" type="font/woff2" crossorigin>
    <link rel="preload" href="{% static 'fonts/archivo-v9-latin-300.woff2' %}" as="font" type="font/woff2" crossorigin>
    <link rel="preload" href="{% static 'fonts/archivo-v9-latin-700.woff2' %}" as="font" type="font/woff2" crossorigin>
    <!-- Favicon and apple icon -->
    <link rel="shortcut icon" href="{% static 'img/logo.jpeg' %}" type="image/x-icon">
    <link rel="apple-touch-icon-precomposed" href="{% static 'img/logo.jpeg' %}">
    <!-- css -->
    
    <link rel="stylesheet" href="{% static 'css/vendors/uikit.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/editingstyle.css' %}">
    {% comment %} <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous"> {% endcomment %}

    <!-- SEO -->
   <meta
   name="”keywords”"
   content="PreshForex Academy,"
   Forex,
   forex academy,
   best forex academy in Nigera,
   best female trader in Nigeria,
   forex trading,
   synthetic indices,
   vix75,
   boom and crash,
   synthetic indices trading,
   synthetic indices trading academy,
   forex queen,
   habby forex academy,
   kojo forex academy,
   preshbae forex,
   female forex traders, 
   best female forex trader,
   female trader in nigeria,
   bukhari forex academy,
   nasdaq forex academy,
   benjamin forex academy,
   uche paragon forex academy in lagos,
   forex academy abuja,
   persian forex academy,
   forex factory,
   my forex funds,
   alpari forex”
/>

    <style>
        .social-link {
            font-size: 12px;
            font-weight: 700;
            color: #fff;
            border-radius: 10px;
            padding: 8px 10px;
        }

        .social-link:hover {
            color: #fff;
            text-decoration: none;
        }

        .fab-icon {
            font-size: 15px;
            color: #fff;
            margin-right: 8px;
            position: relative;
            top: 1px;
        }
    
        @media screen and (max-width: 500px) {
            #mobileshow { 
                margin-top:50px; 
            }
        }

        @media screen and (max-width: 500px) {
            .slider-img-mobileView { 
                margin-top:100px; 
            }
        }
    </style>
</head>

<body>
    <!-- preloader begin -->
    {% comment %} <div class="in-loader">
        <div style="background-color: green;"></div>
        <div style="background-color: green;"></div>
        <div style="background-color: green;"></div>
    </div> {% endcomment %}
    <!-- preloader end -->
    <header>
        <!-- header content begin -->
        <div class="uk-section uk-padding-remove-vertical">
            <nav class="uk-navbar-container uk-navbar-transparent" data-uk-sticky="show-on-up: true; animation: uk-animation-slide-top;">
                <div class="uk-container" data-uk-navbar>
                    <div class="uk-navbar-left">
                        <div class="uk-navbar-item">
                            <!-- logo begin -->
                            <a class="uk-logo" href="{% url 'home:home_view' %}">
                                <img src="{% static 'img/logo-removebg-preview.png' %}" data-src="{% static 'img/logo-removebg-preview.png' %}" alt="logo" width="110" height="50" data-uk-img>
                            </a>
                            <!-- logo end -->
                            <!-- navigation begin -->
                            <ul class="uk-navbar-nav uk-visible@m">
                                <li><a href="{% url 'home:home_view' %}">Home</a></li>
                                <li><a href="{% url 'home:about_view' %}">About</a></li>
                                <li><a href="{% url 'home:contact_view' %}">Contact Us</a></li>
                            </ul>
                            <!-- navigation end -->
                        </div>
                    </div>
                    {% comment %} <div class="uk-navbar-right">
                        <div class="uk-navbar-item uk-visible@m in-optional-nav">
                            {% if user.is_authenticated %}
                                <a href="{% url 'accounts:logout_view' %}" class="uk-button uk-button-primary uk-border-rounded" style="background-color: red; color: white;">Logout<i class="fas fa-arrow-circle-right uk-margin-small-left"></i></a>
                            {% else %}
                                <a href="{% url 'accounts:signin_view' %}" class="uk-button uk-button-text">Log in<i class="fas fa-arrow-circle-right uk-margin-small-left"></i></a>
                                <a href="{% url 'accounts:register_view' %}" class="uk-button uk-button-primary uk-border-rounded custom-button">Sign up<i class="fas fa-arrow-circle-right uk-margin-small-left"></i></a>
                            {% endif %}
                        </div>
                    </div> {% endcomment %}
                </div>
            </nav>
        </div>
        <!-- header content end -->
    </header>
    <main>
        <!-- slideshow content begin -->
        <div class="uk-section uk-padding-remove-vertical in-slideshow-gradient">
            <div id="particles-js" class="uk-light in-slideshow uk-background-contain" data-src="" data-uk-img data-uk-slideshow>
                <hr>
                <ul class="uk-slideshow-items">
                    <li class="uk-flex uk-flex-middle">
                        <div class="uk-container">
                            <div class="uk-grid-large uk-flex-middle" data-uk-grid>
                                <div class="uk-width-1-2@s in-slide-text">
                                    <p></p>
                                    <h1 class="uk-heading-small">Learn from Industry <span style="border-bottom: 3px solid green;">Expert</span></h1>
                                    <p class="uk-text-lead uk-visible@m">If a strategy is widely available for free or is offered on a small payment can never work. A secret is not a secret if a YouTube commercial offers it for a small payment of a hundred dollars.
                                    </p>
                                </div>
                                <div class="in-slide-img slider-img-mobileView">
                                    <img src="{% static 'img/cover6.png' %}" data-src="{% static 'img/cover6.png' %}" alt="image-slide" width="652" height="746" data-uk-img>
                                </div>
                            </div>
                        </div>
                    </li>
                    {% comment %} <li class="uk-flex uk-flex-middle">
                        <div class="uk-container">
                            <div class="uk-grid-large uk-flex-middle" data-uk-grid>
                                <div class="uk-width-1-2@s in-slide-text">
                                    <p></p>
                                    <h1 class="uk-heading-small">Educate, Equip, <span style="border-bottom: 3px solid green;">Earn</span>.</h1>
                                    <p class="uk-text-lead uk-visible@m">Get equipped to tackle real-life trading activities when you register by winning iPhones, Laptop and merches to top your trading game.</p>
                                </div>
                                <div class="in-slide-img slider-img-mobileView">
                                    <img src="{% static 'img/cover33.png' %}" data-src="{% static 'img/cover33.png' %}" alt="image-slide" width="652" height="746" data-uk-img>
                                </div>
                            </div>
                        </div>
                    </li> {% endcomment %}
                </ul>
                <div class="uk-container">
                    <div class="uk-position-relative" data-uk-grid>
                        <ul class="uk-slideshow-nav uk-dotnav uk-position-bottom-right uk-flex uk-flex-middle"></ul>
                    </div>
                </div>
            </div>
        </div>
        <!-- slideshow content end -->


        <!-- About section content begin -->
        <div class="uk-section in-equity-16">
            <div class="uk-container uk-margin-top uk-margin-large-bottom">
                <div class="uk-grid uk-flex uk-flex-center in-offset-bottom-20">
                    <div class="uk-width-5-6@m uk-text-center">
                        <h1 class="uk-margin-remove">At <span style="border-bottom: 3px solid green;">PreshFX</span> Academy </h1>
                        <p class="uk-text-lead uk-text-muted uk-margin-small-top">Learn how the markets work with our free education tools.</p>
                    </div>
                </div>
                <div class="uk-grid uk-grid-large uk-flex uk-flex-middle" data-uk-grid>
                    <div class="uk-width-3-5@m">
                        <div class="in-equity-video">
                            <img class="uk-border-rounded uk-width-1-1" src="{% static 'img/videocover.jpg' %}" data-src="{% static 'img/videocover.jpg' %}" alt="sample-images" width="533" height="355" data-uk-img>
                            <div class="uk-position-center">
                                <a href="#link" data-uk-toggle>
                                    <div class="in-play-button" style="background-color: green;"></div>
                                    <i class="fas fa-play"></i>
                                </a>
                            </div>
                            <div class="uk-flex-top" data-uk-modal>
                                <div class="uk-modal-dialog uk-width-auto uk-margin-auto-vertical in-iframe">
                                    <button class="uk-modal-close-outside" type="button" data-uk-close></button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="uk-width-expand@m">
                        <h3>Have a look</h3>
                        <p>We provides the best tools, resources, and support to help you become an experienced forex trader. With our easy-to-replicate strategy, you'll be able to make the most of your trading journey. Get started on your path to trading success now!</p>
                        <!-- <ul class="uk-list uk-list-bullet in-list-check">
                            <li>Introduction to Financial Trading</li>
                            <li>Technical Analysis</li>
                            <li>Fundamental Analysis</li>
                            <li>When to Enter & Exit Trades</li>
                            <li>How to Manage Risk</li>
                            <li>Trading Psychology</li>
                        </ul> -->
                        <a class="uk-button uk-button-secondary uk-border-rounded uk-margin-small-top" href="#">Signup for an account<i class="fas fa-arrow-circle-right uk-margin-small-left"></i></a>
                    </div>
                </div>
            </div>
        </div>
        <!-- About section content end -->


        <!-- section content begin -->
        <div class="uk-section in-equity-17" style="background-color: #252526;">
            <div class="uk-container uk-margin-top uk-margin-medium-bottom">
                <div class="uk-grid uk-flex uk-flex-center">
                    <div class="uk-width-3-5@m uk-text-center">
                        <h1 class="uk-margin-remove" style="color: white;">Our <span style="border-bottom: 3px solid green;">paid</span> services</h1>
                        {% comment %} <p class="uk-text-lead uk-text-muted uk-margin-small-top">Become an FX trading god by choosing your account type.</p> {% endcomment %}
                    </div>
                    <div class="uk-width-3-4@m uk-margin-medium-top">
                        <div class="uk-grid-collapse uk-child-width-1-2@m in-equity-pricing" data-uk-grid>
                            <div>
                                <div class="uk-card uk-card-default uk-card-body uk-box-shadow-medium">
                                    <p class="uk-text-small uk-text-muted uk-text-uppercase">FEE<span class="uk-label uk-margin-small-left in-label-small">$100/mo</span></p>
                                    <h2 class="uk-margin-top uk-margin-remove-bottom">Trade Signals</h2>
                                    {% comment %} <p class="uk-text-lead uk-text-muted uk-margin-remove-top">Trade at lightning speed, make profits and reduce losses with our signals</p> {% endcomment %}
                                    <hr>
                                    <ul class="uk-list uk-list-bullet in-list-check">
                                        <li>Premium Monthly Signals</li>
                                        <li>Sniper Entries</li>
                                        <li>0 - 3 trades Weekly</li>
                                        <li>Risk & Money Management</li>
                                        <li>80 - 90% Accuracy</li>
                                    </ul>
                                    <a href="#" class="uk-button uk-button-default uk-border-rounded uk-align-center">Join Now!<i class="fas fa-arrow-circle-right uk-margin-small-left"></i></a>
                                </div>
                            </div>
                            <div>
                                <div class="uk-card uk-card-default uk-card-body uk-box-shadow-large" style="border-color: green;">
                                    <p class="uk-text-small uk-text-muted uk-text-uppercase">FEE<span class="uk-label uk-margin-small-left in-label-small">$400</span></p>
                                    <h2 class="uk-margin-top uk-margin-remove-bottom">Lifetime Mentorship</h2>
                                    {% comment %} <p class="uk-text-lead uk-text-muted uk-margin-remove-top">Learn how to navigate the financial market and make profits like a trading god</p> {% endcomment %}
                                    <hr>
                                    <ul class="uk-list uk-list-bullet in-list-check">
                                        <li>Beginner To Masterclass Course</li>
                                        <li>Live Zoom Sessions</li>
                                        <li>Free Signals</li>
                                        <li>Access To Members Private Group</li>
                                        <li>Access To Previous Recorded Sessions</li>
                                        <li>Intensive One Month Training</li>
                                    </ul>
                                    <a href="#" class="uk-button uk-button-primary uk-border-rounded uk-align-center" style="background-color:green; color:white;">Enroll Now!<i class="fas fa-arrow-circle-right uk-margin-small-left"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- section content end -->


        <!-- Free section content begin -->
        <div class="uk-section uk-section-primary uk-preserve-color in-equity-14 uk-background-contain uk-background-top-center" style="background-color:green;" data-uk-img>
            <div class="uk-container uk-margin-small-bottom">
                <div class="uk-child-width-1-2@m uk-flex uk-flex-middle" data-uk-grid>
                    <div>
                        <div class="uk-flex uk-flex-left uk-flex-middle">
                            <div class="uk-margin-right in-award-logo">
                                <img src="{% static 'img/telegram-image.png' %}" data-src="{% static 'img/telegram-image.png' %}" alt="award" width="128" data-height data-uk-img>
                            </div>
                            <div class="in-award-badge">
                                <h3 class="uk-margin-remove">Free Telegram Channel</h3>
                                <h4 class="uk-margin-remove-top uk-margin-small-bottom uk-text-uppercase in-heading-thin">True ECN Account</h4>
                                <p class="uk-text-small uk-margin-remove uk-visible@m">Voted by industry professionals</p>
                            </div>
                        </div>
                    </div>
                    <div class="uk-flex uk-flex-right uk-flex-middle right-content">
                        <ul class="uk-list in-list-check uk-margin-remove-bottom uk-margin-right">
                            <li>Zero fees</li>
                            <li>Free learning space</li>
                            <li>Meet great minds</li>
                        </ul>
                        <span class="uk-margin-large-left">
                            <a href="#" class="uk-button uk-button-secondary uk-button-large uk-border-rounded">Access Free Channel<i class="fas fa-arrow-circle-right uk-margin-small-left"></i></a>
                        </span>
                    </div>
                </div>
            </div>
        </div>
        <!-- Free section content end -->


        <!-- section content begin -->
        <div class="uk-section in-gallery-1">
            <div class="uk-container">
                <ul class="uk-grid-small uk-child-width-1-3@m uk-child-width-1-2@s uk-text-center" data-uk-grid="masonry: true">
                    <li>
                        <div class="uk-inline-clip uk-transition-toggle uk-border-rounded" tabindex="0">
                            <img class="uk-transition-scale-up uk-transition-opaque" src="{% static 'img/student review.jpg' %}" alt="gallery-image" data-width data-height style="height: 20rem;">
                        </div>
                    </li>
                    <li>
                        <div class="uk-inline-clip uk-transition-toggle uk-border-rounded" tabindex="0">
                            <img class="uk-transition-scale-up uk-transition-opaque" src="{% static 'img/sudent review1.jpg' %}" alt="gallery-image" data-width data-height style="height: 20rem;">
                        </div>
                    </li>
                    <li>
                        <div class="uk-inline-clip uk-transition-toggle uk-border-rounded" tabindex="0">
                            <img class="uk-transition-scale-up uk-transition-opaque" src="{% static 'img/sudent review2.jpg' %}" alt="gallery-image" data-width data-height style="height: 20rem;">
                        </div>
                    </li>
                    <li>
                        <div class="uk-inline-clip uk-transition-toggle uk-border-rounded" tabindex="0">
                            <img class="uk-transition-scale-up uk-transition-opaque" src="{% static 'img/sudent review3.jpg' %}" alt="gallery-image" data-width data-height style="height: 20rem;">
                        </div>
                    </li>
                    <li>
                        <div class="uk-inline-clip uk-transition-toggle uk-border-rounded" tabindex="0">
                            <img class="uk-transition-scale-up uk-transition-opaque" src="{% static 'img/sudent review4.jpg' %}" alt="gallery-image" data-width data-height style="height: 20rem;">
                        </div>
                    </li>
                    <li>
                        <div class="uk-inline-clip uk-transition-toggle uk-border-rounded" tabindex="0">
                            <img class="uk-transition-scale-up uk-transition-opaque" src="{% static 'img/sudent review5.jpg' %}" alt="gallery-image" data-width data-height style="height: 20rem;">
                        </div>
                    </li>
                </ul>
            </div>
        </div>
        <!-- section content end -->


        <!-- Contact section content begin -->
        <!-- section content begin -->
        <div class="uk-section in-equity-9" style="background-color: #252526; color: white;">
            <div class="uk-container uk-margin-medium-top uk-margin-bottom">
                <div class="uk-grid uk-flex uk-flex-center">
                    <div class="uk-width-3-4@m uk-margin-top">
                        <div class="uk-grid uk-child-width-1-3@s uk-child-width-1-3@m uk-text-center in-register" data-uk-grid>
                            <div class="uk-width-1-1 in-h-line">
                                <h2 style="color: white;">How to Join PreshForex Programs</h2>
                            </div>
                            <div>
                                <span class="in-icon-wrap circle" style="background-color: #252526; color: white;">1</span>
                                <p>Click on the Signup button to contact our admin via WhatsApp. </p>
                            </div>
                            <div>
                                <span class="in-icon-wrap circle" style="background-color: #252526; color: white;">2</span>
                                <p>Get payment details and make the payment(Signals or mentorship)</p>
                            </div>
                            <div>
                                <span class="in-icon-wrap circle" style="background-color: #252526; color: white;">3</span>
                                <p>Get access to unlimited signals and educational resources</p>
                            </div>
                            <div class="uk-width-1-1">
                                <a href="#" class="uk-button uk-button-text">Signup<i class="fas fa-arrow-circle-right uk-margin-small-left"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- section content end -->
        <!-- Contact section content end -->

    </main>
    <footer>
        <!-- footer content begin -->
        <div class="uk-section">
            <div class="uk-container">
                <div class="uk-grid uk-flex uk-flex-middle">

                    <div class="uk-width-2-3@m uk-text-small">
                        <ul class="uk-subnav uk-subnav-divider" data-uk-margin>
                            <li><a href="{% url 'home:legal_view' %}">Legal Documentations</a></li>
                            <li><a href="{% url 'home:faqs_view' %}">FAQs</a></li>
                            <li><a href="{% url 'home:about_view' %}">About</a></li>
                            <li><a href="{% url 'home:contact_view' %}">Contact</a></li>
                        </ul>
                    </div>

                    <div id="mobileshow">
                        <a target="_blank" href="#" class="social-link" style="background-color: #d64742; margin: 5px;"><i class="fab fa-youtube fab-icon"></i>Youtube</a>
                        <a target="_blank" href="#" class="social-link" style="background-color: #075e54; margin: 5px;"><i class="fab fa-whatsapp fab-icon"></i>WhatsApp</a>
                        <a target="_blank" href="#" class="social-link" style="background-color: #DD2A7B; margin: 5px;"><i class="fab fa-instagram fab-icon"></i>Instagram</a>
                    </div>
                </div>

                <p style="text-align: center; margin-top: 50px; font-size: small;">Disclaimer: Trading and/or investing in Leveraged Products comes with a substaintial amount of risk and you may loose part or all of your investments. Be Advised.</p>

                <p class="copyright-text" style="text-align: center; margin-top: 50px;">©2022 PreshForex Academy. All Rights Reserved.</p>


                <p class="copyright-text" style="text-align: center; margin-top: 30px;">SiteCredit: <a href="wa.me/2349086022042">Aiby Technologies</a></p>

            </div>
        </div>
        <!-- footer content end -->
        <!-- totop begin -->
        <div class="uk-visible@m">
            <a href="#" class="in-totop fas fa-chevron-up" style="background-color:green;" data-uk-scroll></a>
        </div>
        <!-- totop end -->
    </footer>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.7/dist/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <!-- javascript -->
    <script src="{% static 'js/vendors/uikit.min.js' %}"></script>
    <script src="{% static 'js/vendors/utilities.min.js' %}"></script>
    <script src="{% static 'js/vendors/trading-widget.min.js' %}"></script>
    <script src="{% static 'js/vendors/market-plugin.min.js' %}"></script>
    <script src="{% static 'js/vendors/particles.min.js' %}"></script>
    <script src="{% static 'js/config-particles.js' %}"></script>
    <!-- <script src="{% static 'js/config-theme.js' %}"></script> -->

    <script>
        'use strict';

        const HomepageApp = {
            //----------- 1. Slideshow -----------
            theme_slideshow: function() {
                UIkit.slideshow('.in-slideshow', {
                    autoplay: true,
                    autoplayInterval: 8000,
                    pauseOnHover: false,
                    animation: 'slide',
                    minHeight: 440,
                    maxHeight: 580
                });
            },
            //---------- 2. Counter -----------
            theme_counter: function() {
                const counter = new counterUp({
                    selector: '.count',
                    start: 0,
                    duration: 3200,
                    intvalues: true,
                    interval: 50
                });
                counter.start();
            },
            //---------- 3. Mobile nav button -----------
            theme_mobilenav: function() {
                {% comment %} mobileNav({
                    addonButtons: true,
                    buttons: [{
                        {% if user.is_authenticated %}
                            name: 'Log out', // button name
                            url: "{% url 'accounts:logout_view' %}", // button url
                            type: 'secondary', // button type (default, primary, secondary, danger, text)
                            icon: 'sign-out-alt' // button icon, you can use all icons from here : https://fontawesome.com/icons?d=gallery&s=solid&m=free
                        {% else %}
                            name: 'Log in', // button name
                            url: "{% url 'accounts:signin_view' %}", // button url
                            type: 'secondary', // button type (default, primary, secondary, danger, text)
                            icon: 'sign-in-alt' // button icon, you can use all icons from here : https://fontawesome.com/icons?d=gallery&s=solid&m=free
                        {% endif %}
                    }]
                }); {% endcomment %}
            },
            //---------- 4. Modal iframe -----------
            theme_video: function() {
                modalIframe({
                    videos: [{
                        id: 'video-1', // video id (should not be the same as the next video)
                        url: 'https://www.youtube.com/embed/EX8lU92LLdU' // video embed url https://youtu.be/DyQz2DgSToU https://youtu.be/DyQz2DgSToU
                    }]
                });
            },
            //---------- 5. Tradingview widget -----------
            theme_tradingview: function() {
                if (window.tradingWidget)
                    tradingWidget({
                        widget: [{
                                type: "market-overview",
                                theme: "light",
                                symbol: [ // array of instruments symbol based on Tradingview
                                    {
                                        s: "FX:EURUSD"
                                    },
                                    {
                                        s: "FX:GBPUSD"
                                    },
                                    {
                                        s: "FX:USDJPY"
                                    },
                                    {
                                        s: "FX:USDCHF"
                                    },
                                    {
                                        s: "FX:AUDUSD"
                                    },
                                    {
                                        s: "FX:USDCAD"
                                    }
                                ]
                            },
                            {
                                type: "symbol-overview",
                                theme: "dark",
                                symbol: "GOOGL" // symbol based on Tradingview
                            }
                        ]
                    });
            },
            theme_init: function() {
                HomepageApp.theme_slideshow();
                HomepageApp.theme_counter();
                HomepageApp.theme_mobilenav();
                HomepageApp.theme_video();
                HomepageApp.theme_tradingview();
            }
        }

        document.addEventListener('DOMContentLoaded', function() {
            HomepageApp.theme_init();
        });
    </script>

    <script>
        function numberWithCommas(x) {
            return x.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",");
        }
        document.getElementById("user_no").innerHTML = numberWithCommas({{ user_no }});
    </script>

</body>

</html>